@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  /* primary color */
  --Cyan: hsl(179, 62%, 43%);
  --light-cyan: hsl(179, 47%, 52%);
  --Bright-Yellow: hsl(71, 73%, 54%);

  /* Neutral color */
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);

  /* Font */
  --Font-normal: 1rem;
  --font-costume: 0.9375rem;
  --font-family-karla: "Karla", sans-serif;
}
*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: var(--font-family-karla);
  height: 100vh;
  background-color: var(--Light-Gray);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 37.5rem;
}
.container-1 {
  grid-column: span 2;
  background-color: white;
  padding: 2.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.container-1 h1 {
  padding-bottom: 1.25rem;
  font-size: 1.25rem;
  color: var(--Cyan);
}
.container-1 h2 {
  padding-bottom: 0.625rem;
  font-size: 0.9375rem;
  color: var(--Bright-Yellow);
}
.container-1 p {
  padding-bottom: 0;
  font-size: 0.9375rem;
  line-height: 1.6;
  /* padding: 20px; */
  color: var(--Grayish-Blue);
}

.container-2 {
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  background-color: var(--Cyan);
  border-radius: 0 0 0 0.5rem;
}

.container-2 h1 {
  font-weight: 700;
  font-size: 1.125em;
  padding-bottom: 0.9375rem;
  color: #d5feff;
}
.flex-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.625rem;
}
.flex-price h2 {
  font-size: 1.75em;
}
.flex-price p {
  padding-left: 0.9375rem;
}
.container-2 span {
  color: #57cfcd;
  padding-left: 0.625rem;
  font-size: var(--Font-normal);
}
.container-2 p {
  font-size: 0.917em;
  font-weight: 300;
  padding-bottom: 1.875rem;
  color: rgb(203, 240, 240);
}

.sign-up-btn {
  background-color: var(--Bright-Yellow);
  border-radius: 0.3125rem;
  text-align: center;
  padding: 0.875rem 0;
  color: white;
  text-decoration: none;
  box-shadow: rgb(38 124 124) 0px 4px 10px -2px;
}

.container-4 {
  background-color: var(--light-cyan);
  padding: 2.5rem;
  border-radius: 0 0 0.5rem 0;
}
.container-4 h1 {
  margin-bottom: 0.9375rem;
  font-size: 1.125rem;
  color: #d5feff;
}
.container-4 p {
  font-size: 0.8125rem;
  margin-bottom: 0.3125rem;
  color: #a5e1e2;
}
/* Footer */
.attribution {
  font-size: 0.6875em;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 800px) {
  main {
    max-width: 21.875rem;
  }
  .container-1 {
  }
  .container-2 {
    grid-column-start: -3;
    grid-column-end: -1;
    border-radius: 0;
  }
  .container-4 {
    grid-column-start: -3;
    grid-column-end: -1;
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
