@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  /* primary color */
  --Cyan: hsl(179, 62%, 43%);
  --light-cyan: hsl(179, 47%, 52%);
  --Bright-Yellow: hsl(71, 73%, 54%);

  /* Neutral color */
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);

  /* Font */
  --Font-normal: 1rem;
  --font-family-karla: "Karla", sans-serif;
}
*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: var(--font-family-karla);
  /* width: 100vh; */
  height: 100vh;
  background-color: var(--Light-Gray);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 600px;
}
.container-1 {
  grid-column: span 2;
  background-color: white;
  padding: 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.container-1 h1 {
  padding-bottom: 20px;
  font-size: 20px;
  color: var(--Cyan);
}
.container-1 h2 {
  padding-bottom: 10px;
  font-size: 15px;
  color: var(--Bright-Yellow);
}
.container-1 p {
  padding-bottom: 0px;
  font-size: 15px;
  line-height: 1.6;
  /* padding: 20px; */
  color: var(--Grayish-Blue);
}

.container-2 {
  display: flex;
  padding: 40px;
  flex-direction: column;
  background-color: var(--Cyan);
  border-bottom-left-radius: 8px;
  justify-content: space-between;
}

.container-2 h1 {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 15px;
  color: #d5feff;
}
.flex-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}
.flex-price h2 {
  font-size: 28px;
}
.flex-price p {
  padding-left: 15px;
}
.container-2 span {
  color: #57cfcd;
  padding-left: 10px;
  font-size: 16px;
}
.container-2 p {
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 30px;
  color: rgb(203, 240, 240);
}

.sign-up-btn {
  background-color: var(--Bright-Yellow);
  border-radius: 5px;
  text-align: center;
  padding: 14px 0px;
  color: white;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  font-family: var(--font-family-karla);
  font-weight: 400;
  box-shadow: rgb(38 124 124) 0px 4px 10px -2px;
}

.container-4 {
  display: flex;
  flex-direction: column;
  background-color: var(--light-cyan);
  padding: 40px;
  border-bottom-right-radius: 8px;
  align-items: flex-start;
}
.container-4 h1 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #d5feff;
}
.container-4 p {
  font-size: 13px;
  margin-bottom: 5px;
  color: #a5e1e2;
}
/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 800px) {
  main {
    max-width: 350px;
  }
  .container-1 {
  }
  .container-2 {
    grid-column-start: -3;
    grid-column-end: -1;
    border-radius: 0;
  }
  .container-4 {
    grid-column-start: -3;
    grid-column-end: -1;
    border-radius: 0px 0px 8px 8px;
  }
}
